body{
  font-size: 1.2rem;
}
.hidden{
  display: none;
}
.text-center{
  text-align: center;
}
.div-center{
  margin: 0px auto;
}
.blue{
  color: dodgerblue;
}
.hr-80-bold{
  width: 70%;
  background-color: black;
}
#maths a:hover{
  cursor: pointer;
}
#hash{
  word-break: break-all;
}
#time-list, #super-time-list, #botnet-time-list{
  list-style: none;
}
