<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- bootstrap cdn stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'passwords_app/css/custom.css' %}" rel="stylesheet"></link>
    <!-- vvv minimized jquery, may not have ajax and other things vvv -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- vvv full jquery vvv -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <title>Kevin Johnson & Jake Barker 3710 Semester Project</title>
  </head>
  <body>
    <!-- navbar -->
      <!-- none right now... -->

    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">3710 Semester Project</h1>
        <br>
        <h4 class="display-5">Kevin Johnson</h4>
        <h4 class="display-5">Jake Barker</h4>
        <p class="lead">This is a simple site dedicated to displaying statistics on password and hash complexity</p>
      </div>
      <div class="container">
        <hr class="my-4">
      </div>
    </div>

    <!-- tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Custom Password Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generalized Stats</a>
      </li>
    </ul>

    <!-- stats for each part of given password explained -->
    <br>
    <br>
    <div class="container">
      <div class="row">
        <h3 style="margin:0px auto 15px auto">Hardware and Password Cracking</h3>
        <div id="" class="h-100 w-100 d-inline-block" style="background-color:">
          <ul>
            <li>
              On a modern computer (8 core, 2.8 GHz) using the SHA512 hashing algorithm,
              it takes about 0.0017 milliseconds to compute a hash. This translates to
              about 1.7 * 10 ^ -6 seconds per password.
            </li>
            <li>
              A GPU or 3D graphics card can usually performs operations at a speed of 50-100
              times relative to the speed of a CPU.
            </li>
            <li>
              We'll say that a supercomputer or botnet is able to perform calculations and
              hashes at a speed of 100000 times a regular computer.  (you have 100000 computers
              working at the same time)
              <ul>
                <li>
                  <em>
                    100k computers on a botnet is very doable, the largest one to-date is
                    estimated to have 12 million
                  </em>
                </li>
              </ul>
            </li>
            <br>
            <li>
              ** on average the password will be cracked when half of the possible permutations are
              checked. <u>(divide calculated number of possible permutations by two)</u>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div id="maths" class="container">
      <div class="row">
        <h3 style="margin:0px auto 15px auto">The Math of Possible Permutations</h3>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="list-group">
            <a onclick="ChangeTab(this, 'math-no')" class="list-group-item list-group-item-action active">
              number only password
            </a>
            <a onclick="ChangeTab(this, 'math-ll')" class="list-group-item list-group-item-action">lowercase letters</a>
            <a onclick="ChangeTab(this, 'math-lul')" class="list-group-item list-group-item-action">lowercase + uppercase letters</a>
            <a onclick="ChangeTab(this, 'math-nlu')" class="list-group-item list-group-item-action">#'s + lowercase + uppercase</a>
            <a onclick="ChangeTab(this, 'math-nlus')" class="list-group-item list-group-item-action">#'s + lowercase + uppercase + symbols</a>
          </div>
        </div>
        <div class="col-sm-8 text-center" style="">
          <div class="row h-100" style="padding-top: 15px">
            <div class="col-sm my-auto">
               <div id="math-no"  class="">
                 <h4 class="blue">#'s only</h4>
                 (1.7 * (10 ^ -6)) * ((10 digits) ^ (password length))
                 <hr class="hr-80-bold">
                 <span class="text-center">2</span>
               </div>
               <div id="math-ll" class="hidden">
                 <h4 class="blue">lowercase letter only</h4>
                 (1.7 * (10 ^ -6)) * ((26 letters) ^ (password length))
                 <hr class="hr-80-bold">
                 <span class="text-center">2</span>
               </div>
               <div id="math-lul" class="hidden">
                 <h4 class="blue">lowercase and uppercase</h4>
                 (1.7 * (10 ^ -6)) * (((26 letters) + (26 letters)) ^ (password length))
                 <hr class="hr-80-bold">
                 <span class="text-center">2</span>
               </div>
               <div id="math-nlu" class="hidden">
                 <h4 class="blue">#'s, lowercase and uppercase</h4>
                 (1.7 * (10 ^ -6)) * (((10 digits) + (26 letters) + (26 letters)) ^ (password length))
                 <hr class="hr-80-bold">
                 <span class="text-center">2</span>
               </div>
               <div id="math-nlus" class="hidden">
                 <h4 class="blue">#'s, lower & uppercase, symbols</h4>
                 (1.7 * (10 ^ -6)) * (((10 digits) + (26 letters) + (26 letters) + (18 special characters)) ^ (password length))
                 <hr class="hr-80-bold">
                 <span class="text-center">2</span>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

    <!-- Graph -->
    <br>
    <br>
    <div class="container col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"></h6>
          <!-- <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <!-- password input -->
          <br>
          <div class="container">
            <form method="GET" id="password-form">
              {% csrf_token %}
              <h2 class="">Input a Password (<em>not one you actually use</em>). <br>See How Strong it is</h2>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" id="passwd-button">Submit</button>
                </div>
                <input id="password" type="text" class="form-control" name="password" >
              </div>
            </form>
          </div>

          <!-- chart area... if we want to do that -->
          <!-- <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            A chart with stuff graphed out by Matlab (maybe just a generated image?)
            <canvas id="myAreaChart" width="717" height="240" class="chartjs-render-monitor" style="display: block; width: 717px; height: 240px;"></canvas>
          </div> -->

          <!-- where to put returned values on password -->
          <div class="container" style="min-height: 200px;">
            <h4 class="text-center">stats on your password will show up here:</h4>
            <div id="present-chars" class="row"></div>
            <br>
            <div id="hash" class="row"></div>
            <br><br>
            <div id="cracktimes" class="container">
              <div class="">
                <h4 id="regular-title" class="hidden">Regular CPU:</h4>
                <ul id="time-list">
                  <li id="seconds" class="hidden"></li>
                  <li id="minutes" class="hidden"></li>
                  <li id="hours" class="hidden"></li>
                  <li id="days" class="hidden"></li>
                  <li id="years" class="hidden"></li>
                </ul>
              </div>

              <div class="">
                <h4 id="super-title" class="hidden">Supercomputer or GPU (x100 speed)</h4>
                <ul id="super-time-list">
                  <li id="super-seconds" class="hidden"></li>
                  <li id="super-minutes" class="hidden"></li>
                  <li id="super-hours" class="hidden"></li>
                  <li id="super-days" class="hidden"></li>
                  <li id="super-years" class="hidden"></li>
                </ul>
              </div>

              <div class="">
                <h4 id="botnet-title" class="hidden">Botnet (x100000 speed)</h4>
                <ul id="botnet-time-list">
                  <li id="botnet-seconds" class="hidden"></li>
                  <li id="botnet-minutes" class="hidden"></li>
                  <li id="botnet-hours" class="hidden"></li>
                  <li id="botnet-days" class="hidden"></li>
                  <li id="botnet-years" class="hidden"></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Hash-->
    <div class="container">
      <hr>
      <h3>Maybe here we pull some data from the hash which is generated in conjunction with the password</h3>
      <p>hashy stats</p>
      <ul>
        <li>this hash would be hard to crack</li>
        <li>"why?" you may ask</li>
        <li>well, allow us to tell you</li>
      </ul>
    </div>

    <!-- general stats info -->
    <div class="container">
      <hr>
      <h3>The content under the Generalized Stats tab could just have statistics from data we pull from the web</h3>
      <p>an explanation about passwords as a whole</p>
      <ul>
        <li>look, a fact!</li>
        <li>another fact</li>
        <li>my grandma has better passwords than you do</li>
      </ul>
    </div>

    <br>
    <br>

  </body>
  <!-- add javascript files that need to load after document -->
  <script src="{% static 'passwords_app/js/get_requests.js' %}"></script>
  <script src="{% static 'passwords_app/js/passwords_app.js' %}"></script>
  <script src="{% static 'passwords_app/js/tabs_buttons.js' %}"></script>
</html>
